<div *ngFor="let item of league" style="margin-left: 42%; margin-top: 20px; background: rgb(80, 80, 79); 
display: inline-block; width: 200px; height: 200px; 
text-align: center; padding-top: 20px; display: inline-block;" class="card">
    <img src="{{item.LogodelaLiga}}" alt="">
    <div>
        <h1>Liga: {{item.NombreDeLaLiga}}</h1>
    </div>
</div>
<br>
<br>
<h2 style="text-align: center;">Equipos</h2>
<div *ngFor="let team of teams" style="margin: 10px; background: beige; 
display: inline-block; width: 200px; height: 200px; 
text-align: center; padding-top: 20px; display: inline-block;" class="card">
    <img src="{{team.LogodelEquipo}}" alt="" width="40%">
    <div>
        <h1>{{team.Nombredelequipo}}</h1>
    </div>
</div>

