<div class="card">
    <p-card header="">
        <div *ngFor="let team of teams">
            <img src="{{team.LogodelEquipo}}" alt="{{team.Nombredelequipo}}" style="width: 80px;">
            <h3>{{team.Nombredelequipo}}</h3>
        </div>
        <div *ngFor="let league of leagues">
            <h3>League: {{league.NombreDeLaLiga}}</h3>
        </div>
    </p-card>
</div>


<h2 style="text-align: center;">JUGADORES</h2>
<div *ngFor="let player of players" style="margin: 10px; background: beige; 
display: inline-block; width: 200px; height: 200px; 
text-align: center; padding-top: 20px; display: inline-block;" class="card">
    <a routerLink="/player/{{player.id}}">
        <img src="{{player.Avatar}}" alt="" width="40%">
        <div>
            <h1>{{player.NombredelJugador}}</h1>
        </div>
    </a>
</div>