<p-toast key="myKey2"></p-toast>
<p-panel header="New Team">
    <form [formGroup]="newTeam" (ngSubmit)="newForm(newTeam.value)">
        <div class="p-fluid" style="text-align: left;">
            <div class="p-field p-grid">
                <label for="firstname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Url de la imagen</label>
                <div class="p-col-12 p-md-8" style="margin-bottom: 20px;">
                    <input id="firstname" type="text" pInputText formControlName="LogodelEquipo">
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="firstname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Nombre del Equipo</label>
                <div class="p-col-12 p-md-8" style="margin-bottom: 20px;">
                    <input id="firstname" type="text" pInputText formControlName="Nombredelequipo">
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="firstname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Nombre de la Liga</label>
                <div class="p-col-12 p-md-8" style="margin-bottom: 20px;">
                    <select class="form-select" formControlName="Liga" aria-label="Default select example">
                        <option value="">Seleccione una Option!</option>
                        <option  *ngFor="let league of leagues" value="{{league.Identificador}}">{{league.NombreDeLaLiga}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="p-field p-grid">
                <button type="submit" pButton pRipple label="Guardar" class="p-button-success"></button>
                <button routerLink="/teams" pButton pRipple type="button" label="Cancelar" class="p-button-secondary"></button>
            </div>
        </div>       
    </form>
</p-panel>
