<p-toast key="myKey2"></p-toast>
<p-panel header="EditarTeam">
    <form [formGroup]="editTeam" (ngSubmit)="editForm(editTeam.value)">
        <div class="ul-g ui-fluid">
            <div class="ul-g-12">
                <div class="ui-g-4">
                    <label for="url">Url de la imagen</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText formControlName="LogodelEquipo" placeholder="Url de la imagen" id="url">
                </div>
            </div>

            <div class="ul-g-12">
                <div class="ui-g-4">
                    <label for="url">Nombre del Equipo</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText formControlName="Nombredelequipo" placeholder="Url de la imagen" id="url">
                </div>
            </div>

            <div class="ul-g-12">
                <div class="ui-g-4">
                    <label for="url">League</label>
                </div>
                <div class="ui-g-8">
                    <select class="form-select" formControlName="Liga" aria-label="Default select example">
                        <option *ngFor="let league of leagues" value="{{league.Identificador}}">
                            {{league.NombreDeLaLiga}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <button routerLink="/teams" type="button" class="btn btn-segundary">Cancelar</button>
    </form>
</p-panel>