/* You can add global styles to this file, and also import other style files */
section .container{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.card{
    margin-top: 2em;
}

p-card{
    display: inline-block;
    text-align: center;
    width: 15rem;
    margin: 2em;
    cursor: pointer;
}
p-card img{
    width: 20%;
}